<mat-drawer-container fullscreen>
    <mat-drawer mode="side" opened="true">
        <mat-menu ></mat-menu>
        <!-- <a mat-menu-item *ngFor="let item of examples" [routerLink]="item.route" routerLinkActive="active">{{ item.title }}</a> -->
        <app-side-nav-bar></app-side-nav-bar>
    </mat-drawer>
    <mat-drawer-content>
        <h1 class="msaLogo"><img src="../assets/images/Icon.png" /></h1>
        <!-- <app-export></app-export>
        <app-drop-down></app-drop-down> -->
        <div class="container">
            <div class="row">
              <div class="col-sm-8">
              </div>
              <div class="col-sm-2 exportBtn">
                <app-export></app-export>
              </div>
              <div class="col-sm-2">
                <app-drop-down></app-drop-down>
              </div>
            </div>
          </div>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
