<p>
  dashboard works!
</p>
<div class="column">
  <div class="row">
      <div class="card col-md-6 col-sm-6 col-xs-6" style="height: 20rem;">
        <app-line-chart [lineWidth]="lineWidth" [lineHeight]="lineHeight"></app-line-chart>
      </div>
      <div class="card col-md-6 col-sm-6 col-xs-6" style="height: 20rem;">
        <app-bar-chart [barWidth]="barWidth" [barHeight]="barHeight"></app-bar-chart>
      </div>
  </div>
  <div class="row">
      <div class="card col-md-6 col-sm-6 col-xs-6" style="height: 20rem;">
      </div>
      <div class="card col-md-6 col-sm-6 col-xs-6" style="height: 20rem;">
      </div>
  </div>
</div>

